<!DOCTYPE html>
<html>

	<head th:insert="head.html"></head>
	
	<body>
		<div th:insert="navbar.html"></div>
		<main>
			<div class="container">
			<!--ESTA CONECTADO AL OBJETO EN EL MODEL-->
			<form
				class="row need-validation was-validated"
				action="#"
				th:action="@{/cupon/update}"
				th:method="POST"
				th:object="${CUPON}"
				>
				
				<div class="form-group">
					<label for="id" class="control-label col-sm-4">ID</label>
					<input name="id"
						id="id"
						type="text"
						th:field="*{id}"
						class="form-control"
						readonly>
				</div>
			
				<div class="form-group">
					<label for="nombre" class="control-label col-sm-4">Nombre</label>
					<input 
						type="text"
						th:field="*{nombre}"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="codigo" class="control-label col-sm-4">Código</label>
					<input 
						type="text"
						th:field="*{codigo}"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="fvdesde" class="control-label col-sm-4">
						F. Vigencia Desde</label>
					<input 
						id="fvdesde"
						type="date"
						th:field="*{fechaVigenciaDesde}"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="fvdesde" class="control-label col-sm-4">
						F. Vigencia hasta</label>
					<input 
						id="fvdesde"
						type="date"
						th:field="*{fechaVigenciaHasta}"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="descuento" class="control-label col-sm-4">
						Descuento</label>
					<input 
						id="descuento"
						type="number"
						th:field="*{descuento}"
						class="form-control">
				</div>
				<button class="btn btn-success">
					Guardar
				</button>
				<a class="btn btn-info" 
					role="button"
					th:href="@{/cupon/list}">				
					volver
				</a>
			</form>
			</div>
		</main>		
		<span th:insert="script.html"></span>
	</body>
</html>